/*  Header Color Override */
.md-header {
    background-color: #2387aa !important;
}

.md-tabs {
    background-color: #185E76 !important;
}

/* Bold h2 titles in the TOC */
li.toctree-l2 > a:link,
li.toctree-l2 > a:visited {
  font-weight: bold;
  color: #404040;
  margin-left: -6px;
}

img.shadow {
    box-shadow: 0 4px 18px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.09);
    margin-bottom: 20px;
    margin-top: 20px;
}

